@font-face {
  font-family: "Ridley Grotesk W00 Light";
  src: url("https://db.onlinewebfonts.com/t/0948d9b657e3fb8fd41c6cd8090b3da5.eot");
  src: url("https://db.onlinewebfonts.com/t/0948d9b657e3fb8fd41c6cd8090b3da5.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/0948d9b657e3fb8fd41c6cd8090b3da5.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/0948d9b657e3fb8fd41c6cd8090b3da5.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/0948d9b657e3fb8fd41c6cd8090b3da5.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/0948d9b657e3fb8fd41c6cd8090b3da5.svg#Ridley Grotesk W00 Light")format("svg");
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color to match images */
  /*Green dark 190 - Green 171 - Grren Blue 200*/
  --hue-color: 45;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 100%, 30%);
  --first-color-second: hsl(var(--hue-color), 64%, 22%);
  --first-color-alt: hsl(var(--hue-color), 64%, 15%);
  --title-color: hsl(var(--hue-color), 64%, 18%);
  --text-color: hsl(var(--hue-color), 24%, 35%);
  --text-color-light: hsl(var(--hue-color), 8%, 60%);
  --input-color: hsl(var(--hue-color), 24%, 97%);
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --white-color: #FFF;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);

  /*========== Font and typography ==========*/
  /* --body-font: 'Open Sans', sans-serif; */
  --body-font: "Ridley Grotesk W00 Light";
  --title-font: 'Montserrat', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 5.5rem;
  --h2-font-size: 4.25rem;
  --h3-font-size: 1.5rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;

  /*========== Hover overlay ==========*/
  --img-transition: .3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

@media screen and (max-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 2.75rem;
    --h3-font-size: 1rem;
    --normal-font-size: .8rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}


.text-center{text-align:center!important}
.content_main,.content_main-fluid,.content_main-lg,.content_main-md,.content_main-sm,.content_main-xl,.content_main-xxl{--bs-gutter-x:1.5rem;width:100%;padding-right:calc(var(--bs-gutter-x)/ 2);padding-left:calc(var(--bs-gutter-x)/ 2);margin-right:auto;margin-left:auto}@media (min-width:576px){.content_main,.content_main-sm{max-width:540px}}@media (min-width:768px){.content_main,.content_main-md,.content_main-sm{max-width:720px}}@media (min-width:992px){.content_main,.content_main-lg,.content_main-md,.content_main-sm{max-width:960px}}@media (min-width:1200px){.content_main,.content_main-lg,.content_main-md,.content_main-sm,.content_main-xl{max-width:1140px}}@media (min-width:1400px){.content_main,.content_main-lg,.content_main-md,.content_main-sm,.content_main-xl,.content_main-xxl{max-width:1320px}}
.col-xl-4{flex:0 0 auto;width:33.3333333333%}
.col-lg-4{flex:0 0 auto;width:33.3333333333%}
.col-md-12{flex:0 0 auto;width:100%}
.row{
  --bs-gutter-x:1.5rem;
  --bs-gutter-y:0;
  display:flex;
  flex-wrap:wrap;
  margin-top:calc(var(--bs-gutter-y) * -1);
  margin-right:calc(var(--bs-gutter-x)/ -2);
  margin-left:calc(var(--bs-gutter-x)/ -2)
}
.row>*{
  flex-shrink:0;
  width:100%;
  max-width:100%;padding-right:calc(var(--bs-gutter-x)/ 2);padding-left:calc(var(--bs-gutter-x)/ 2);margin-top:var(--bs-gutter-y)}

.banner {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  text-align: center;
  perspective: 100rem;
}

.banner h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #ddd;
  margin-bottom: 3rem;
  animation: bannerAnim 1s 1.5s backwards;
}

.banner h1 {
  width: 60rem;
  font-size: 7rem;
  color: #fff;
  text-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.7);
  animation: bannerAnim 1s 2s backwards;
}

@keyframes bannerAnim {
  0% {
    transform: translateZ(-10rem) translateY(-1rem);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  background-color: #262b32;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  display: flex;
  flex-direction: column;
  transform: rotateZ(-90deg);
  margin-left: 5rem;
}

.swiper .swiper-button-next {
  transform: rotateZ(90deg);
  margin-right: 5rem;
}

.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  content: "";
}

.swiper .swiper-button-next i,
.swiper .swiper-button-prev i {
  font-size: 5rem;
  -webkit-text-stroke: 0.1rem #fff;
  color: transparent;
}

.swiper .swiper-button-next span,
.swiper .swiper-button-prev span {
  font-family: "Fjalla One", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: -1rem;
  color: #fff;
}

span.swiper-pagination-bullet {
  width: 5rem;
  height: 5rem;
  opacity: 1;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  margin-right: 2rem !important;
}

span.swiper-pagination-bullet:nth-child(1) {
  background: url(../img/about1.jpg) center no-repeat;
  background-size: cover;
}

span.swiper-pagination-bullet:nth-child(2) {
  background: url(../img/about1.jpg) center no-repeat;
  background-size: cover;
}

span.swiper-pagination-bullet:nth-child(3) {
  background: url(../img/about1.jpg) center no-repeat;
  background-size: cover;
}

span.swiper-pagination-bullet:nth-child(4) {
  background: url(../img/about1.jpg) center no-repeat;
  background-size: cover;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 0.2rem solid #fff;
}

.selongsong__title{
  font-weight: bolder;
  font-size:var(--h3-font-size);
  /* font-family: var(--body-font); */
}

.selongsong__title{
  font-weight: bolder;
  font-size:var(--h3-font-size);
  /* font-family: var(--body-font); */
}

.selongsong__subtitle{
  /* font-weight: bolder; */
  font-size:var(--normal-font-size);
  /* font-family: var(--body-font); */
}



/* SLIDER */
.carousel-inner{
  position:relative;
  width:100%;
  overflow:hidden}.carousel-inner::after{display:block;clear:both;content:""}.carousel-item{position:relative;display:none;float:left;width:100%;margin-right:-100%;-webkit-backface-visibility:hidden;backface-visibility:hidden;transition:-webkit-transform .6s ease-in-out;transition:transform .6s ease-in-out;transition:transform .6s ease-in-out,-webkit-transform .6s ease-in-out}@media (prefers-reduced-motion:reduce){.carousel-item{transition:none}}.carousel-item-next,.carousel-item-prev,.carousel-item.active{display:block}.active.carousel-item-right,.carousel-item-next:not(.carousel-item-left){-webkit-transform:translateX(100%);transform:translateX(100%)}.active.carousel-item-left,.carousel-item-prev:not(.carousel-item-right){-webkit-transform:translateX(-100%);transform:translateX(-100%)}.carousel-fade .carousel-item{opacity:0;transition-property:opacity;-webkit-transform:none;transform:none}.carousel-fade .carousel-item-next.carousel-item-left,.carousel-fade .carousel-item-prev.carousel-item-right,.carousel-fade .carousel-item.active{z-index:1;opacity:1}.carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-right{z-index:0;opacity:0;transition:opacity 0s .6s}@media (prefers-reduced-motion:reduce){.carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-right{transition:none}}.carousel-control-next,.carousel-control-prev{position:absolute;top:0;bottom:0;z-index:1;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;width:15%;color:#fff;text-align:center;opacity:.5;transition:opacity .15s ease}@media (prefers-reduced-motion:reduce){.carousel-control-next,.carousel-control-prev{transition:none}}.carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover{color:#fff;text-decoration:none;outline:0;opacity:.9}.carousel-control-prev{left:0}.carousel-control-next{right:0}.carousel-control-next-icon,.carousel-control-prev-icon{display:inline-block;width:20px;height:20px;background:no-repeat 50%/100% 100%}.carousel-control-prev-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e")}.carousel-control-next-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e")}.carousel-indicators{position:absolute;right:0;bottom:0;left:0;z-index:15;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;padding-left:0;margin-right:15%;margin-left:15%;list-style:none}.carousel-indicators li{box-sizing:content-box;-ms-flex:0 1 auto;flex:0 1 auto;width:30px;height:3px;margin-right:3px;margin-left:3px;text-indent:-999px;cursor:pointer;background-color:#fff;background-clip:padding-box;border-top:10px solid transparent;border-bottom:10px solid transparent;opacity:.5;transition:opacity .6s ease}@media (prefers-reduced-motion:reduce){.carousel-indicators li{transition:none}}.carousel-indicators .active{opacity:1}